<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=1.1.0.20, Culture=neutral, PublicKeyToken=7f709c5b713576e1" requirePermission="false"/>
    <section name="onepy" type="OnePy.OnePyConfigSection, OnePy35"/>
  </configSections>

  <microsoft.scripting debugMode="False">
    <languages>
      <language names="IronPython;Python;py" extensions=".py" displayName="IronPython 2.7" type="IronPython.Runtime.PythonContext, IronPython, Version=2.7.0.40, Culture=neutral, PublicKeyToken=7f709c5b713576e1"/>
    </languages>
    <options>
      <!-- AddRemoveClearMap with option as key.  If language
           Attribute is present, the key is option cross language.
       -->
      <!--set option="Frames" value="True" language="Python"/-->
      <!--set option="MTA" value="True" language="Python"/-->
      <set option="TabCompletion" value="True" language="Python"/>
      <!--set option="PreferComDispatch" value="True" language="Python"/-->
    </options>
  </microsoft.scripting>

  <onepy>
    <libpaths>
      <add value="c:\temp" />
    </libpaths>
    <!--load>
      <add value="IronPython.SQLite.dll" />
    </load-->
  </onepy>
  
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
